.home-search-container {
    width          : 1000px;
    height         : 1000px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.search-input-form {
    width : auto;
    height: auto;
}

.home-search-bar {
    outline      : none;
    border       : none;
    border-radius: 50px;
    background   : white;
    width        : 1000px;
    height       : auto;
    font-size    : 125px;
    line-height  : 175px;
    padding: 0 50px;
}

.home-search-bar::placeholder {
    color: #afafaf;
}