.home-search-container {
    width          : 1000px;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : top;
    object-fit: contain;
}

.search-input-form {
    width : auto;
    height: auto;
}

.home-search-bar {
    outline      : none;
    border       : none;
    border-radius: 50px;
    background   : white;
    width        : 1000px;
    height       : auto;
    font-size    : 125px;
    line-height  : 175px;
    padding      : 0 50px;
    margin-top: 500px;
}

.home-search-bar::placeholder {
    color: #afafaf;
}

.home-search-description {
    color          : #afafaf;
    font-size      : 21px;
    line-height:  22px;
    margin-top: 105px;
}