.heart-container {
    width          : 100%;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.heart-btn-container {
    background: none;
    border    : none;
}

.heart-btn-container:hover {
    background: none;
    border    : none;
    cursor    : pointer;
}

.unliked {
    color     : lightgrey;
    transition: ease 1s;
    font-size : 18px;
}

.unliked:hover {
    color     : black;
    transition: ease 1s;
}

.liked {
    color    : black;
    font-size: 18px;
}

.liked:hover {
    color     : lightgrey;
    transition: ease 1s;
}