.loading-gif {
  background     : white;
  width          : 100%;
  height         : 300px;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.shopping-gif {
  width     : auto;
  height    : 100%;
  margin-top: -30px;
}

.index-page {
  width         : 1220px;
  height        : 100%;
  display       : flex;
  flex-direction: column;
}

.tier-title-list {
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.tier-title {
  width          : 33%;
  height         : 50px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 22px;
  font-weight    : bold;
}

.tier-list {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}